.pro-dashboard{
    min-height:100vh;
    padding:130px 8% 80px;
    background:
        linear-gradient(rgba(0,0,0,0.78), rgba(0,0,0,0.90)),
        url("../images/farm.jpg");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

.pro-dashboard-header{
    text-align:center;
    max-width:850px;
    margin:0 auto 45px;
}

.pro-dashboard-header span{
    display:inline-block;
    padding:10px 24px;
    border-radius:40px;
    background:rgba(124,255,155,0.15);
    color:#7CFF9B;
    border:1px solid rgba(124,255,155,0.35);
    font-weight:800;
    margin-bottom:18px;
}

.pro-dashboard-header h1{
    font-size:54px;
    color:#7CFF9B;
    margin-bottom:15px;
}

.pro-dashboard-header p{
    color:#eaffef;
    font-size:18px;
    line-height:1.7;
}

.pro-stats-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
    margin-bottom:35px;
}

.pro-stat-card,
.pro-chart-card,
.pro-list-card{
    border-radius:30px;
    background:rgba(255,255,255,0.10);
    border:1px solid rgba(255,255,255,0.20);
    backdrop-filter:blur(18px);
    box-shadow:0 25px 70px rgba(0,0,0,0.45);
}

.pro-stat-card{
    padding:30px;
    text-align:center;
}

.pro-stat-card h3{
    color:#eaffef;
    margin-bottom:12px;
}

.pro-stat-card h2{
    color:#7CFF9B;
    font-size:52px;
    text-shadow:0 0 18px rgba(124,255,155,0.45);
}

.pro-stat-card p{
    color:#d8f5dd;
}

.pro-dashboard-grid{
    display:grid;
    grid-template-columns:1.2fr 1fr;
    gap:28px;
}

.pro-chart-card,
.pro-list-card{
    padding:32px;
}

.pro-chart-card h2,
.pro-list-card h2{
    color:#7CFF9B;
    margin-bottom:25px;
}

.chart-box{
    width:100%;
    height:380px;
    position:relative;
}

.pro-disease-card{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px;
    border-radius:20px;
    background:rgba(0,0,0,0.28);
    border:1px solid rgba(255,255,255,0.12);
    margin-bottom:15px;
}

.pro-disease-card h3{
    color:#eaffef;
    margin-bottom:6px;
}

.pro-disease-card p{
    color:#ccebd2;
}

.pro-disease-card span{
    width:46px;
    height:46px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    background:linear-gradient(135deg,#7CFF9B,#00b359);
    color:#001b0b;
    font-weight:900;
}

.pro-no-data{
    color:#eaffef;
}

@media(max-width:900px){
    .pro-stats-grid,
    .pro-dashboard-grid{
        grid-template-columns:1fr;
    }

    .pro-dashboard-header h1{
        font-size:36px;
    }

    .chart-box{
        height:300px;
    }
}